<div class="animate__animated animate__fadeIn animate__faster">
  <h3>Por País</h3>
  <hr>
  <div class="row">
    <div class="col">
      <app-pais-input (onEnter)="buscar($event)" (onDebounce)="sugerencias($event)"
        placeholder="Buscar País"></app-pais-input>
    </div>
  </div>
  <hr>
  <div *ngIf="hayError" class="alert alert-danger">
    <strong>Info!</strong> No hay resultados para: {{termino}}
  </div>
  <div class="row mt-3" *ngIf="paises.length > 0">
    <div class="col">
      <app-pais-tabla [resultados]="paises"></app-pais-tabla>
    </div>
  </div>
</div>
