<section class="home">
  <div class="animate__animated animate__fadeIn animate__faster">
    <div class="home__container">
      <div class="home__container__title">
        <h1 class="home__container__title__text">Bienvenido a</h1>
        <h1 class="home__container__title__text">Mi App de Busqueda de Paises</h1>
      </div>
      <div class="home__container__buttons">
        <button class="home__container__buttons__button" routerLink="/dashboard" routerLinkActive="active">Ir a
          Dashboard</button>
      </div>
    </div>
  </div>
</section>
