<!-- en menu principal tiene un fixer-top para que el contenido se vea correctamente debemos seguir el siguiente ejemplo:

1. En el menu principal se debe agregar la clase fixed-top:
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
2. En el contenido principal se debe agregar la clase mt-5 para que el contenido se vea correctamente
<div class="container mt-5">
3. En el footer se debe agregar la clase fixed-bottom para que el contenido se vea correctamente
-->

<section class="home">
  <div class="home__container">
    <div class="home__container__title">
      <h1 class="home__container__title__text">Bienvenido a</h1>
      <h1 class="home__container__title__text">Mi App de Busqueda de Paises</h1>
    </div>
    <div class="home__container__buttons">
      <button class="home__container__buttons__button">Ir a Dashboard</button>
    </div>
  </div>
</section>
