<div class="mt-5">
  <div class="d-flex">
    <div class="bg-dark border-right p-3" id="sidebar">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <span class="fs-4">Busquedas</span>
      </a>
      <hr class="text-white">
      <div class="list-group list-reset">
        <a class="list-group-item list-group-item-action bg-light text-dark" routerLink="/dashboard"
          routerLinkActive="active">Dashboard</a>
      </div>
    </div>
    <div class="col p-4">
      <app-por-capital></app-por-capital>
    </div>
  </div>
</div>
