<!-- inicio sidebar bootstrap -->
<div class="row container mt-4">
  <div class="col-3">
    <h2 class="text-center">
      Busqueda
    </h2>
    <hr>
    <ul class="list-group">
      <li class="list-group-item">
        <a href="#">Buscar país</a>
      </li>
      <li class="list-group-item">
        <a href="#">Buscar por capital</a>
      </li>
      <li class="list-group-item">
        <a href="#">Buscar por región</a>
      </li>
    </ul>
  </div>

  <div class="col">
    <app-por-capital></app-por-capital>
  </div>
</div>
<!-- fin sidebar bootstrap -->
