<!-- Inicio de sidebar -->
<div class="bg-dark border-right p-3" id="sidebar">
  <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
    <span class="fs-4">Busquedas</span>
  </a>
  <hr class="text-white">
  <div class="list-group">
    <a class="list-group-item" routerLink="/dashboard/welcome" routerLinkActive="active">Bienvenido</a>
    <a class="list-group-item" routerLink="/dashboard/porcapital" routerLinkActive="active">Por capital</a>
    <a class="list-group-item" routerLink="/dashboard/porpais" routerLinkActive="active">Por pais</a>
    <a class="list-group-item" routerLink="/dashboard/porregion" routerLinkActive="active">Por region</a>
  </div>
</div>
<!-- Fin de sidebar -->
