<!-- Inicio de sidebar -->
<div class="bg-dark border-right p-3" id="sidebar">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
    <span class="fs-4">Busquedas</span>
  </a>
  <hr class="text-white">
  <div class="list-group list-reset">
    <a href="#" class="list-group-item list-group-item-action bg-light text-dark"><i class="bi bi-search">
      </i> Por Capital</a>
    <a href="#" class="list-group-item list-group-item-action bg-light text-dark"><i class="bi bi-search">
      </i> Por Pais</a>
    <a href="#" class="list-group-item list-group-item-action bg-light text-dark"><i class="bi bi-search">
      </i> Por Region</a>
  </div>
</div>
<!-- Fin de sidebar -->
