<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Bandera</th>
      <th>Nombre</th>
      <th>Poblacion / Habitantes</th>
      <th></th>
    </tr>
  </thead>
  <tbody id="tbody" class="tbody">
    <tr *ngFor="let pais of paises; let i = index">
      <td>{{i+1}}</td>
      <td><img class="small-flag" [src]="pais.flags.svg" alt=""></td>
      <td>{{pais.name.common}}</td>
      <td>{{pais.population | number}}</td>
      <td>
        <a [routerLink]="['/dashboard/verpais', pais.altSpellings[0]]" class="btn btn-outline-primary btn-sm">
          ver mas
        </a>
      </td>
    </tr>
  </tbody>
</table>
